<div class="regClass">
<form [formGroup] ="regForm" (ngSubmit)="onSubmit()">
<div class="mb-3">
    <label for="name" class="form-label">NAME :</label>
    <input  type="text" class="form-control" id="name" formControlName="name" >
  </div>
<div class="mb-3">
    <label for="email" class="form-label">EMAIL :</label>
    <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
  </div>
  
  <div class="mb-3">
    <label for="password" class="form-label">PASSWORD :</label>
    <input type="password" class="form-control" id="password" formControlName="pwd" >
  </div>
  <button type="submit" class="btn btn-primary" >REGISTER ME</button>
</form>
</div>
  
